.App {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  background-color: #2026d207;
}

.dashboard{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.connnection-view{
  border: 1px solid #b4b2dc;
  min-width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

.connection{
  border: 1px solid #b4b2dc;
    width: 100%;
    padding: 30px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.connection:hover {
  background-color: #bcc8ff;
}

.styled-text{
  border: none;
}

.content-container{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.databases-view{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  border: 1px solid #b4b2dc;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.schema-query-view{
  border: 1px solid #b4b2dc;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 17px 0 17px;
  overflow-y: scroll;
}

.schema-query-view::-webkit-scrollbar {
  display: none;
}

.schema-query-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.schema-query-view div button{
  border: none;
  background-color:#bcc8ff;
  width: 120px;
  color: #4f5070;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.schema-query-view div .active{
  color: white;
  background-color: #2026D2;
}


.query-editor-view{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editor{
  border: none;
  height: 40%;
  width: 100%;
}

.response{
  height: 60%;
  width: 100%;
}



.columns{
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.tables{
  margin: 4px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.button{
  background-color: #F3F4FD;
  border: none;
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;
}

.tab-list{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 10px; */
  padding: 0 17px 0 5px;

}

.tabs{
  /* border: 1px solid black; */
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  overflow-x: scroll;
}
.tabs::-webkit-scrollbar {
  display: none;
}

.control-buttons{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.control-buttons .icon{
  color: #2026D2;
}
.control-buttons .icon:hover{
  color: #61dafb;
}

.tab{
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4f5070;
  cursor: pointer;
  padding: 2px 16px;
  background-color: #bcc8ff;
  margin-right: 2px;
  border-radius: 5px;
}

.tab:hover{
  color: white;
  background-color: #2026D2;
}

.active-tab{
  background-color: #2026D2;
  color: white;
}

.icon{
  cursor: pointer;
  margin-left: 11px;
}

textarea{
  width: 99%;
  height: 91.5%;
  resize: none;
} 
